
html,body {
    margin: 0;
}

header{
    background-color: white;
}

.h-logo {
    padding: 5px;
    margin: 0;
}

@keyframes i-slide-left {
from {
  transform: translateX(0);
}
  to {
  transform: translateX(-100%);
}
}
.i-slide {
    height: 100%;
    display: flex;
    overflow: hidden;
}
.i-list {
  display: flex;
  list-style: none;
  padding: 0;
}
.i-list--left {
  animation: i-slide-left 50s infinite linear 0.5s both;
}
.i {
  width: calc(100vw / 5);
}
.i>img {
  width: 100%;
}

.s-back {
  width: 150px;
  height: 50px;
  background: rgb(228, 228, 228);
  border-radius: 10%;
  margin: 0.5% 10%;
}

table{
    width: 80%;
    font-size: 30px;
    border-color: #00bfff;
}

details{
    border: 2px solid #0077ff;
    background-color: #ffffff;
    margin: 1% 10% 0;
    padding: 1em;
}
details[open] summary{
    border-bottom: 1px solid #0077ff;
}
summary{
    display: block;
    font-size: 30px;
}

