
head,body{
  margin: 0;
  font-family: "Verdana";
}
img{
  max-width: 100%;
  height: auto;
}
h1{
  font-size: 2.5rem;
}
.header_inner{
  margin: 0;
  height: 4.5rem;
  align-items: center;
  background-color: #ffffff;
}
.header_logo{
  width: 212px;
  margin: 0;
  padding: 15px;
  line-height: 0;
}

@keyframes i-slide-left {
from {
  transform: translateX(0);
}
  to {
  transform: translateX(-100%);
}
}
.i-slide {
    height: 100%;
    display: flex;
    overflow: hidden;
}
.i-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.i-list--left {
  animation: i-slide-left 50s infinite linear 0.5s both;
}
.i {
  width: calc(100vw / 5);
}
.i>img {
  width: 100%;
}

.day-swith{
  display: flex;
  width: 180px;
  border-radius: 10px;
  background-color: #9f9f9f2e;
  margin: 10px 50px;
}

.day1,.day2{
  width: 80px;
  height: 40px;
  margin: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  border: solid;
  border-color: #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.time-table1{
  visibility: visible;
  display: block;
}
.time-table2{
  visibility: collapse;
  display: none;
}

.time-table1,.time-table2{
  margin: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
}
.time-table1 li,.time-table2 li{
  list-style: none;
  border-left: 5px solid #0685C2;
  margin-left: 4em;
}
.time-table1 span,.time-table2 span{
  margin-left: -4.26em;
}

.p-time::after{
  width: 1em;
  height: 1em;
  position: absolute;
  background-color: #0091ff;
  border-radius: 35%;
  content: "";
  margin: 0px 10px;
}

.p-box1,.p-box2,.p-box3,.p-box4,.p-box5,.p-box6,.p-box7,.p-box8,.p-box9,.p-box10,.p-box11{
  background-color: #ffffff;
  border-radius: 10px;
  border: solid;
  border-color: #9f9f9f;
  margin: 0px 15px;
  padding: 0px 15px;
}


.detail-box{
  margin: 0em 3em;
  border: solid #9f9f9f;
  margin-bottom: 35px;
  border-radius: 20px;
  padding: 10px 10px;
}
summary{
  list-style: none;
  margin: 10px;
}
.detail-border{
  border-top: solid #9f9f9f;
}
.detail-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 15px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}